{% extends 'base.html.twig' %}

{% block title %}Ticket index{% endblock %}

{% block body %}
    <h1>Ticket index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ticket</th>
                <th>Comments</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ticket in tickets %}
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.Ticket }}</td>
                <td>{{ ticket.Comments }}</td>
                <td>
                    <a href="{{ path('ticket_show', {'id': ticket.id}) }}">show</a>
                  
                    {% if is_granted('ROLE_ADMIN') %} 
                    
                        {{ include('ticket/_delete_form.html.twig') }}
                        <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>

                    {% endif %}
                    
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ticket_new') }}">Create new</a>
{% endblock %}
