{% extends 'base.html.twig' %}

{% block title %}Ticket{% endblock %}

{% block body %}
    <h1>Ticket</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Ticket</th>
                <td>{{ ticket.Ticket }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ ticket.Comments }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ticket_index') }}">back to list</a>

    <a href="{{ path('ticket_edit', {'id': ticket.id}) }}">edit</a>

    {% if is_granted('ROLE_ADMIN') %} {{ include('ticket/_delete_form.html.twig') }} {% endif %}
{% endblock %}
